<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>index</title>
  </head>
  <body>
    <div style="text-align: center">yui haha</div>
    <div class="mang">
      <% items.forEach(item => { %>
      <li class="data">
        <%= item.name%> , <%= item.age %>
        <a class="sua" href="/api/editmangne/<%=item.id %>">Update</a>
        <a class="xoa" href="/api/deletemangne/<%=item.id %>">Delete</a>
      </li>
      <% }) %>
      <a class="sua" href="/api/getFormCreateMangne">Create</a>
    </div>

    <%if(selectedItem){ %>
    <form
      class="create"
      action="/api/updatemangne/<%=selectedItem.id %>"
      method="post"
    >
      <div class="it">
        <label for="">id: </label>
        <input type="number" name="id" value="<%=selectedItem.id %>" disabled />
      </div>
      <div class="it">
        <label for="">name: </label>
        <input type="text" name="name" value="<%=selectedItem.name %>" />
      </div>
      <div class="it">
        <label for="">age: </label>
        <input type="number" name="age" value="<%=selectedItem.age %>" />
      </div>

      <button class="btn" type="submit">Save</button>
    </form>
    <%}else { %>
    <p>Chọn item cần update</p>
    <% } %>
  </body>
</html>
